*{padding: 0px; margin: 0px;}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(39,33,138);
    background: linear-gradient(90deg, rgba(39,33,138,1) 0%, rgba(107,107,177,1) 47%, rgba(215,96,68,1) 100%);
}


#hiUser{
   position : absolute;
    background-color: black;
   height: 235px;
   width: 80%;
   position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3em;
    

}

#hiUser #hiUserMessage{
    color:aliceblue;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

a{
    font-size: 30px;
    text-decoration: none;
    color: aquamarine;
    position: absolute;
    margin-top: 180px;
    margin-left: 20%;
    
}






#dateOutput{
    font-weight: bolder;
    font-size: 25px;
}



#toDoList{
    background-color: beige;
    border-radius: 2em;
    padding: 20px;
    margin: 20px;
    height: 300px;
    
}

ul{
    position: relative;

}

li{
    background-color: rgb(243, 138, 120);
    font-weight: bolder;
    font-size: 25px;
    margin: 10px;
    border-radius: 2em;
    text-align: center;

}
#checkBox{
    margin: 4px;
    margin-left: 50%;
}

ul .makeItGreen{
    background-color: rgb(128, 243, 120);
    text-decoration: line-through;
}

#theFirstHalf{
    display: inline-block;
}

#theSecondHalf{
    margin-left: 50%;
    margin-bottom: 20%;
    display: inline-block;
    position: absolute;
    margin-left: 225px;
    
}


#toDoList #toDoInput{
    margin: 20px;
    border-radius: 2em;
    padding: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 30%;
    border: none;
    box-shadow: 0px 1px 10px  ;
}


#toDoList #addButton{
    border-radius: 2em ;
    border: none;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    float: right;
}





#oklok{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6em;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    

}

#message1 .h6{
    background-color: black;
    border-radius: 2em;
    background-color: rgb(127, 127, 127);
    
}


#dayOrNight{
    
    font-size: 0.3em;
    color : white;
}